@model IEnumerable<Veikkausliiga.Models.Games>

    @{
    ViewBag.Title = "Index";
    }
    <!--Header-->
    <header>
        <div class="header-panel">
            <div class="div-images">
                <h1>Veikkausliigan Ottelut</h1>
            </div>
            <div class="div-images div-img">
                <a href="https://www.hjk.fi/"><img src="~/Images/hjk.png"></a>
                <a href="https://hifkfotboll.fi/"><img src="~/Images/ifk.png"></a>
                <a href="https://ilvesedustus.fi/"><img src="~/Images/ilves.png"></a>
                <a href="https://www.jjk.fi/"><img src="~/Images/FC_JJK.svg.png"></a>
                <a href="https://www.sjk.fi/"><img src="~/Images/sjk.png"></a>
                <a href="http://fcinter.fi/"><img src="~/Images/fc-inter-logo.png"></a>
                <a href="https://www.rops.fi/"><img src="~/Images/rops.png"></a>
</div>
        </div>
    </header>
    <!--Header-->
    <!--body div-->
    <div class="div-body">
        <!--Inputit Alkaa-->
        <div class="div-form">
            <!--<div class="tausta"><img src="~/Images/tausta.png" /></div>-->
            @using (Html.BeginForm())
            {
            <fieldset>
                <legend>Hae otteluita aikaväliltä</legend>
                <div class="div-input">
                    <label>Alkaen: </label>
                    <input type="date" name="starting-day" class="starting-day">
                </div>
                <div class="div-input">
                    <label>Päättyen: </label>
                    <input type="date" name="last-day" class="last-day">
                </div>
                <div class="div-input">
                    <input type="submit" value="Hae" name="submit-button" class="submit-btn">
                </div>
            </fieldset>
            }
        </div>
        <!--Inputit päättyy-->
        <!--Table, lists all the teams and how the game ended-->
        <div class="div-table">
            <div class="div-table-header">
                <h3>Ottelutaulukko</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="count">
                            <span>#</span>
                        </th>
                        <th>
                            <span>Koti</span>
                        </th>
                        <th>
                            <span>Vieras</span>
                        </th>
                        <th>
                            <span>KP</span>
                        </th>
                        <th>
                            <span>VP</span>
                        </th>
                        <th>
                            <span>PVM</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.GameN)</td>
                        <td>@Html.DisplayFor(modelItem => item.HomeT)</td>
                        <td>@Html.DisplayFor(modelItem => item.AwayT)</td>
                        <td>@Html.DisplayFor(modelItem => item.HomeG)</td>
                        <td>@Html.DisplayFor(modelItem => item.AwayG)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateT)</td>
                        <td></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <!--Table,  lists all the teams and how the game ended-->
        <div class="div-para">
            <p>
                Ohjelmassa haetaan otteluiden tietoja tiettyjen päivämäärien mukaan.<br />
                Syötä päivämäärät muodossa pp.kk.vvvv tai valitse kalenterista suodattaeksesi ottelut tietyltä aikavälitä<br/>
                Täyden ottelutaulun saa näkyviin jättämällä aikaväliköt tyhjäksi ja painamalla "Hae".
            </p>
        </div>
    </div>
    <!--body div-->
    <!--Footer-->
    <footer>
        <h5>Author: Mikko Partanen</h5>
        <h5>Version: 1.0</h5>
        <h5>Mail: mikko.partanen93@gmail.com</h5>
    </footer>
    <!--Footer-->
